<section id='sidebar'>
  <i class='icon-align-justify icon-large' id='toggle'></i>

  <ul id='dock'>
    <li class='active launcher'>
      <i class='icon-dashboard'></i>
      <a href="/dashboard.html">Dashboard</a>
    </li>

    <li class='launcher'>
      <i class='icon-youtube-play'></i>
      <a href="/shows">TV Shows</a>
    </li>

    <li class='launcher'>
      <i class='icon-camera'></i>
      <a href="/movies">Movies</a>
    </li>

    <li class='launcher'>
      <i class='icon-headphones'></i>
      <a href='#'>Music</a>
    </li>

    <li class='launcher'>
      <i class='icon-search'></i>
      <a href='/manualsearch'>Manual</a>
    </li>

    <li class='launcher'>
      <i class='icon-tasks'></i>
      <a href='/downloads'>Downloads</a>
    </li>

    <!-- li class='launcher dropdown hover'>
      <i class='icon-flag'></i>
      <a href='#'>Reports</a>
      <ul class='dropdown-menu'>
        <li class='dropdown-header'>Launcher description</li>
        <li>
          <a href='#'>Action</a>
        </li>
        <li>
          <a href='#'>Another action</a>
        </li>
        <li>
          <a href='#'>Something else here</a>
        </li>
      </ul>
    </li>

    <li class='launcher'>
      <i class='icon-cloud'></i>
      <a href='#'>Backup</a>
    </li>

    <li class='launcher'>
      <i class='icon-bug'></i>
      <a href='#'>Feedback</a>
    </li -->
  </ul>

  <div data-toggle='tooltip' id='beaker' title='Theme by lab2023'></div>
</section>