<section id='tools'>

  <ul class='breadcrumb' id='breadcrumb'>
    {{#if breadcrumbs}}
      {{#each breadcrumbs}}
        <li class="{{class}}"><a href="{{href}}">{{title}}</a></li>
      {{/each}}
    {{/if}}
  </ul>

  <div id='toolbar' class="hide">
    <div class='btn-group'>
      <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Building'>
        <i class='icon-building'></i>
      </a>
      <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Laptop'>
        <i class='icon-laptop'></i>
      </a>
      <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Calendar'>
        <i class='icon-calendar'></i>
        <span class='badge'>3</span>
      </a>
      <a class='btn' data-toggle='toolbar-tooltip' href='#' title='Lemon'>
        <i class='icon-lemon'></i>
      </a>
    </div>
    <div class='label label-danger'>
      Danger
    </div>
    <div class='label label-info'>
      Info
    </div>
  </div>

</section>